# Directories
.vs/
Binaries/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.xcodeproj
*.project
*.workspace
*.mk
App/SDL2.dll
App/SDL2_image.dll
App/SDL2_mixer.dll
App/SDL2_ttf.dll

Makefile

# Exclude
!Vendor/Binaries